post-in {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.form-input {
  background: none;
  background-color: white;
  color: black;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  margin: 25px 0;
  width: 25vw;
}
label {
  color: black;
  font-size: 16px;
  font-weight: normal;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease al;
}
/* &:focus {
        outline: none;
      }  */
